<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1" />
    <base href="/" />
    <link rel="stylesheet" th:href="@{/styles/index/style-index.css}" type="text/css">
</head>

<!-- @content (c) -->
<body>

<header>

</header>

<div class="horizontal-divider"></div>

<div id="c-main">
    <nav>

    </nav>

    <!-- @right-panel (rp) -->
    <div id="rp">
        <main>

        </main>
    </div>
</div>

<footer id="c-footer">

</footer>
</body>
</html>
