$font-base: 'Poppins', sans-serif;

$color-shade: #f3f6f8;
$color-dark: #c1c1c1;

$login-red: #ee3434;

body {

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;

}

header {

  font-family: $font-base;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;

  #h-1 {

    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    a {

      text-decoration: none;
      font-weight: bold;
      color: #404040;
      font-size: 170%;

    }

  }

  #h-2 {

    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .h-button {

      font-family: $font-base;
      font-size: 90%;
      margin-right: 100px;
      padding: 0;
      background-color: #ffffff;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      height: 65%;
      width: 10%;
      border-radius: 15px;

    }

    .h-button-filled {

      background: $login-red;
      color: white;

    }

    .h-button-bordered {

      background: white;
      border: 2px solid $login-red;
      color: $login-red;
      margin-right: 25px;

    }

  }

}

.horizontal-divider {

  background: $color-shade;
  height: 0.1vh;

}

#c-main {

  height: 87vh;
  display: flex;
  flex-direction: row;
  align-content: center;

  nav {

    font-family: $font-base;
    height: 100%;
    width: 20vw;
    background: $color-shade;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .nav-option {

      box-shadow: 2px 2px 2px rgb(175,175,175, 0.15);
      margin-top: 1vw;
      height: 10vh;
      width: 18vw;
      background: #ffffff;
      border-radius: 10px;
      transition: box-shadow 0.5s;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;

      .nav-option-corner {

        border-radius: 10px 0 0 10px;
        background: #078701;
        width: 15px;
        height: 100%;

      }

      .nav-option-corner-2 {

        border-radius: 10px 0 0 10px;
        background: #016bb3;
        width: 15px;
        height: 100%;

      }

      .nav-option-icon {

        width: 5vh;
        height: 5vh;
        margin-left: 1vw;
        margin-right: 1vw;
        background-size: 5vh;
        background-attachment: local;
        background-repeat: no-repeat;

      }

      span {

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        font-size: 110%;

      }

      #icon-1 { background-image: url("../../img/general/icon1.png"); }
      #icon-2 { background-image: url("../../img/general/icon2.png"); }
      #icon-3 { background-image: url("../../img/general/icon3.png"); }
      #icon-4 { background-image: url("../../img/general/icon4.png"); }
      #icon-5 { background-image: url("../../img/general/icon5.png"); }
      #icon-6 { background-image: url("../../img/general/icon5.png"); }
      #icon-7 { background-image: url("../../img/general/icon7.png"); }

    }

    .nav-option:hover {

      box-shadow: 2px 2px 2px rgba(168, 166, 166, 0.55);

    }

  }

  #rp {

    width: 80vw;

  }

}

#c-footer {

  background: $color-dark;
  height: 2.9vh;

}
